<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71664107924-ties2uhqrn39fkk4d1sjldhdvoaabdq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71664107924-ties2uhqrn39fkk4d1sjldhdvoaabdq3</string>
	<key>API_KEY</key>
	<string>AIzaSyBYjW6DCcNQU6q6acwrVAPOitX1oxQ2sZE</string>
	<key>GCM_SENDER_ID</key>
	<string>71664107924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginRegisterWithFirebaseAndProvider</string>
	<key>PROJECT_ID</key>
	<string>ffirebaseauthprovider</string>
	<key>STORAGE_BUCKET</key>
	<string>ffirebaseauthprovider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71664107924:ios:f08deb5410320ac9b98f81</string>
</dict>
</plist>